* {
  font-family: Arial, Helvetica, sans-serif;
}

.print-screen__table {
  width: 100%;
}

.print-screen__table,
.print-screen__table th,
.print-screen__table td {
  border: 1px solid black;
  border-collapse: collapse;
}

.print-screen__table th,
.print-screen__table td {
  padding: 4px;
}

.print-screen__footer p {
  text-align: right;
}
